<html>
 <head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
 </head>
 <body>
    <nav class="container-fluid">
      <h3 class="text-center"> WebCotator </h3>
    </nav>
    <div class="container my-5">
      <table class="table text-center">
        <thead>
            <tr>
              <th>Empresas</th>
              <th>Dolar</th>
              <th>Euro</th>
              <th>Libra</th>
              <th>Dolar AUS</th>
              <th>Dolar CAD</th>
              <th>Dolar NZ</th>
            </tr>
          </thead>
        <tbody>
          {% for quotation in data %}
            <tr>
                <td> {{ quotation[0].replace('_', ' ')|title }} </td>
                <td>R$ {{ '{0:0.2f}'.format(quotation[1].dolar) }}</td>
                <td>R$ {{ '{0:0.2f}'.format(quotation[1].euro) }}</td>
                <td>R$ {{ '{0:0.2f}'.format(quotation[1].libra) }}</td>
                <td>R$ {{ '{0:0.2f}'.format(quotation[1].dolar_au) }}</td>
                <td>R$ {{ '{0:0.2f}'.format(quotation[1].dolar_cad) }}</td>
                <td>R$ {{ '{0:0.2f}'.format(quotation[1].dolar_nz) }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>